################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExchangeApp/.vs/ExchangeApp
/ExchangeApp/ExchangeApp/obj
/ExchangeApp/ExchangeApp/bin/Debug/net6.0
/ExchangeApp/ExchangeWebApi/bin/Debug/net6.0
/ExchangeApp/ExchangeWebApi/obj
/ExchangeApp/bin/Debug
/ExchangeApp/obj
/Common/Common/bin/Debug/net6.0
/Common/Common/obj
/ExchangeConsoleApp/.vs
/ExchangeConsoleApp/bin/Debug/net6.0
/ExchangeConsoleApp/obj
